body{
color: white;
background-color: black;
}
ul li{
list-style-type: none;
display:inline;
}
.qr{
max-width: 150px;
padding: 10px;
border: none;
}

.cryptoinfo {
    max-width: 350px ;
    text-align: center ;
    padding-left: 10px ;
    padding-right: 10px ;
}
.cryptoinfo code {
	font-size: small ;
	overflow-wrap: break-word ;
	color: green;
}